/* @theme ywko2-smartmind */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900");

h1 {
  color: #558EFF;
}

h2, h3, h4  {
  color: #FF0000;
}

section {
  font-family: "Noto Sans KR", sans-serif;
  background-color: whitesmoke;
}

section.lead {
  background-image: url("https://raw.githubusercontent.com/smartmind-team/marp-theme/main/assets/background.png");
  /* text-align: center; */
}

section.lead h1, h2, h3, h4 {
  color: white;
}

section.lead h1, h2 {
  margin: 0;
}

section.lead h3, h4 {
  text-align: right;
}

section.lead h3 {
  margin-top: 10%;
}
