/* @theme smartmind */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900");

h1 {
  color: red;
}

section {
  font-family: "Noto Sans KR", sans-serif;
}

section .lead {
  background-image: url("https://raw.githubusercontent.com/smartmind-team/marp-theme/main/assets/background.png");
}

section.title {
  text-align: center;
}

.lead {
  background-image: url("https://raw.githubusercontent.com/smartmind-team/marp-theme/main/assets/background.png");
}

/* u {
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}
h1, h2, h3, h4, h5, h6 {
    color: #24292f;
}
code {
    color: #922;
    background-color: #EEE;
}
section {
    width: 210mm;
    height: 297mm;
    font-size: 23px;
}
section.title {
    text-align: center;
}
section.title h6 {
    text-align: right;
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 10px;
} */
